
.fakeimg {
    height: 200px !important;
    background: #aaa !important;
}
.mapstyle {
    width: 500px !important;
    height: 250px !important;
}

.tausta{
    background-image: url(img/tausta1.jpg) !important;
    background-repeat:repeat !important;
    background-size: cover !important;
}

.otsikko{
    color: white !important;
    text-shadow: 2px 2px 4px #000000 !important;
}

.huolto{
    width: 250px !important;
    height: 150px !important;
}
.isannointi{
    width: 330px !important;
    height: 210px !important;
}
.pensas{
    width: 250px !important;
    height: 150px !important;
}

.refekuvat {
    width: 300px !important;
    height: 200px !important;
}
.tavut{
    -webkit-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
}